<h2>Clasificaciones</h2>
<p>Las siguientes clasificaciones son en basadas en Estados Unidos</p>
<!-- <div class="row row-cols-1 row-cols-md-2"> -->
  <div class="cards-container">
    <div class="card bg-dark" *ngFor="let c of classifications">
     <div class="card-header">
       <h5 class="card-title">{{ c.name | uppercase }}</h5>

     </div>
      <div class="card-body">
        <p class="card-text">{{ c.text  }}</p>
      </div>
      <div class="card-footer">
        <button routerLink="/peliculas/clasificaciones/{{c.id}}"
          class="btn btn-outline-warning btn-block">Explorar</button>
      </div>
    </div>
  </div>
<!-- </div> -->

