<h2>Clasificaciones</h2>
<p>Las siguientes clasificaciones son en basadas en las de los Estados Unidos</p>
<div class="card-columns">
  <div class="card bg-dark" *ngFor="let c of classifications">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">{{ c.name | uppercase }}</h5>
      <p  class="card-text">{{ c.text }}</p>
    </div>
    <div class="card-footer">
      <button routerLink="/peliculas/clasificaciones/{{c.id}}"  class="btn btn-outline-warning btn-block">Explorar</button>
    </div>
  </div>
</div>
