.cards-container{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

}

.card{
  max-width: 303px;
  width: 303px;
}
/* .card-title{
  color:#000;
}
.card-text{
  color:#000;
} */