<header class="container-fluid  container-billboard  row" *ngIf="movie">
      <!-- <div class="billboard-side-left col-sm-12 col-md-8">

        <ng-template *ngIf="movie.poster_path === undefined; else backdrop_path">
          <img  src="{{movie.poster_path | image}}" [alt]="movie.title" title="movie.title" class="shadow-lg">
        </ng-template>
        
        <ng-template #backdrop_path>
          <img src="{{movie.backdrop_path | image}}" [alt]="movie.title" title="movie.title" class="shadow-lg">
        </ng-template>
        
      </div>

      <div class="billboard-side-right col-sm-12 col-md-4">
        <h2 class="side-right-title title mb-3" [textContent]="movie.title"></h2>
        <div class="container-genres mb-3">
            <button *ngFor="let genre of movie.genres" class="btn btn-outline-info mr-2">{{genre.name}}</button>
        </div>
        <p class="side-right-description" [textContent]="movie.overview"></p>

        <div class="div">
          <button class=" mr-2 btn btn-danger">Conocer más</button>
          <button class=" mr-2 btn btn-warning">Mirar trailer</button>

        </div>
      </div> -->

      
</header>