<div class="jumbotron bg-dark p-3 text-center">
  <h1 class=" display-4">Proximamente!</h1>
  <img style="width: 300px; display: flex; justify-content: center;" src="assets/img/maintenance.png" class="mx-auto" alt="Modulo en mantenimiento" title="Modulo en mantenimiento">
  <p class="lead">Dentro de algunos días se habilitará el modulo de <b> series</b>. Donde podras encontrar las series más populares, las series más votadas, entre otras más secciones que pronto podras disfrutar.</p>
  <hr class="my-4">
  <p>Te invito a ver el modulo de películas y buscar que ya esta disponible.</p>
  <a class="btn btn-primary btn-lg" href="/peliculas" >Ir a películas</a>
</div>