<div class="bg-dark sidebar-wrapper"  id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item  list-group-item-action bg-dark">
            Dashboard
            <img class="float-right" style="height: 25px;" src="https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/menu-24-512.png" alt="">
        </a>
        <a href="#" class="list-group-item  list-group-item-action bg-dark">
            Shortcuts
            <img src="" alt="">
        </a>
        <a href="#" class="list-group-item  list-group-item-action bg-dark">
            Overview
            <img src="" alt="">
        </a>
        <a href="#" class="list-group-item  list-group-item-action bg-dark">
            Events
            <img src="" alt="">
        </a>
        <a href="#" class="list-group-item  list-group-item-action bg-dark">
            Profile
            <img src="" alt="">
        </a>
        <a href="#" class="list-group-item  list-group-item-action bg-dark">
            Status
            <img src="" alt="">
        </a>
    </div>
</div>

