<ng-container *ngIf="!list_id; else listDetails">
  <header-section
    title="Mis Catalogos"
    url="/profile/nuevo-catalogo"
    nameBTN="Crear nuevo"
    typeButton="btn-primary"
  ></header-section>

  <!-- Listas-->
  <ng-container *ngIf="allLists$ | async as allList; else loadingList">
    <grid-catalog
      [list]="allList.lists.data"
      [total_results]="allList.lists.total"
      [itemPerPage]="allList.lists.per_page"
      [showButton]="false"
      [page]="id"
      (number_page)="nextPage($event)"
    ></grid-catalog>
  </ng-container>
  <ng-template #loadingList>
    <app-loading></app-loading>
  </ng-template>
  <!-- End Listas-->
</ng-container>
<ng-template #listDetails>
  <ng-container *ngIf="list_details">
    <detail-catalog
      [id]="list_id"
      [details]="list_details"
    ></detail-catalog>
  </ng-container>
</ng-template>
