<div style="margin:0;min-height: 100vh;min-width: 100vw;" class="container-error-404">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title text-center">Error 404</h1>
        </div>
        <div class="card-body">
            <p>Parece que la página que estás intentando visitar no existe.</p>
            <p>Verifique la URL e intente nuevamente.</p>
            <div class="container-button">
                <a [routerLink]="Url" class="btn btn-outline-secondary">Regresar</a>
            </div>
        </div>
    </div>
</div>