.container-title
{
    /* margin-left: auto;
    margin-right: auto;
     */

     width: 100%;
    margin-top: 1rem;
    /* border:1px solid red; */
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */

}

.container-btn-explore{
    display: flex;
    justify-content: flex-end;
}

.cast{
    margin-bottom: 8rem;
}
.container-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 100px;

}
.container-cards .card{
   
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   cursor: pointer;
   width: 200px;
   height: 315px;
   margin-bottom: 3rem;

}
.container-cards .card-img-top{
   
    height:180px;
    width: 125px;
}



.card-cast{
    height: 800px;
    transition: all .5s;
    margin-right: 1rem;
    margin-bottom: 7rem;
    /* overflow: hidden; */
}
.card-cast:hover{
    transform: scale(1.1);
}

.cards__name{
    font-size: 14px;
    text-align: center;
    word-wrap: break-word;
    width: 125px;


}


/*---------------------------------------------- */
/*------------ MODO CELULAR -----------------*/
/* --------------------------------------------- */
@media (max-width: 576px) { 

/*---------------------------------------------- */
/*------------ ESTILOS GENERALES -----------------*/
/*---------------- CARDS--------------------------*/
/* --------------------------------------------- */

    .container-card{
        display: flex;
        justify-content: space-around;
        /* flex-direction: column; */
        /* align-items: space-between;    */
        /* justify-content: space; */

    }
    .container-btn-explore{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        /* border:1px solid red; */
    }
    .container-cast{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .container-cast div{
        /* width: 30%; */
        margin-bottom: 7rem;
    }
}  
