.container-title
{
     width: 100%;
    margin-top: 1rem;

}

.container-btn-explore{
    display: flex;
    justify-content: flex-end;
}

.cast{
    margin-bottom: 8rem;
}
.container-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    /* margin-bottom: 100px; */

}
.container-cards .card{
   
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   cursor: pointer;
   width: 200px;
   height: 350px;
   margin-bottom: 3rem;

}
.container-cards .card-img-top{
   
    height:180px;
    width: 125px;
}
.container-title-movie{
    height: 25px;
    margin-bottom: 1rem;
    /* width: 100%;
    border:1px solid red; */
}
.card-body{
    margin-top: 10px;
    padding:0;
}
.card-body .card-title{
    
    /* border:1px solid red; */
    width: 100%;
    max-width: 100%;

}
.cards__name{
    font-size: 14px;
    text-align: center;
    word-wrap: break-word;
    width: 100%;


}

.card-footer{
    font-size: 14px;
    width: 100%;
    background-color: transparent;
    /* padding:5px; */
    /* height: 20px; */
    /* 
    max-height: 20px; */
}

.card-cast{
    height: 800px;
    transition: all .5s;
    margin-right: 1rem;
    margin-bottom: 7rem;
    /* overflow: hidden; */
}
.card-cast:hover{
    transform: scale(1.1);
}




.my-pagination /deep/ .ngx-pagination  {
    /* background: yellow; */
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* color:#FFF !important; */
  }
.my-pagination /deep/ .ngx-pagination .current {
    
    background-color:#343a40 ;
    color:#FFF;
    border-radius: 10px;
}

.my-pagination  /deep/ .ngx-pagination a:hover,
.my-pagination .ngx-pagination button:hover{
    
    color:#FFF !important;
 }
/* .my-pagination  /deep/ .ngx-pagination a:hover, */
 .ngx-pagination button:hover{
    
    background-color:#343a40 ;
    color:#FFF;
    border-radius: 10px;
    text-decoration: none;
  }

/*---------------------------------------------- */
/*------------ MODO CELULAR -----------------*/
/* --------------------------------------------- */
@media (max-width: 576px) { 

/*---------------------------------------------- */
/*------------ ESTILOS GENERALES -----------------*/
/*---------------- CARDS--------------------------*/
/* --------------------------------------------- */

    .container-card{
        display: flex;
        justify-content: space-around;
        /* flex-direction: column; */
        /* align-items: space-between;    */
        /* justify-content: space; */

    }
    .container-btn-explore{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        /* border:1px solid red; */
    }
    .container-cast{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .container-cast div{
        /* width: 30%; */
        margin-bottom: 7rem;
    }
}  
