<div class="row">
  <section
    class="info-container col-sm-12 col-md-12 col-lg-8"
    *ngIf="informationUser"
  >
    <div class="row mb-4 container-title">
      <h2 class="title col-sm-12 col-md-10">
        {{ informationUser.name + " " + informationUser.lastname | uppercase }}
      </h2>
      <span class="container-title-btn col-sm-12 col-md-2"> </span>
    </div>
    <div>
      <p>
        Correo electronico: <b>{{ informationUser.email }}</b>
      </p>
    </div>
  </section>
  <!-- Listas-->

  <ng-container *ngIf="allLists$ | async as allList; else loadingList">
    <div>
      <grid-catalog
        [showPagination]="false"
        [list]="allList.lists.data.slice(0, 3)"
      ></grid-catalog>
    </div>
  </ng-container>
  <ng-template #loadingList>
    <app-loading></app-loading>
  </ng-template>
  <!-- End Listas-->
  <!-- Favoritos-->

  <ng-container
    *ngIf="allFavorites$ | async as allFavorites; else loadingFavorites"
  >
    <grid-favorites
      [favorites]="allFavorites.data.data.slice(0, 3)"
      [showPagination]="false"
    ></grid-favorites>
  </ng-container>
  <ng-template #loadingFavorites>
    <app-loading></app-loading>
  </ng-template>
  <!-- End Favoritos-->
</div>
