<div class="row">
  <section class="poster-container col-sm-12 col-md-12 mb-3 col-lg-4">
    <img
      class="mb-4 shadow-lg"
      src="{{ informationUser.avatar | imageApiRest }}"
      alt="{{ informationUser.lastname }}"
      title="{{ informationUser.lastname }}"
      width="300"
      height="300"
    />

    <!-- </div> -->
  </section>

  <section
    class="info-container col-sm-12 col-md-12 col-lg-8"
    *ngIf="informationUser"
  >
    <div class="row mb-4 container-title">
      <h2 class="title col-sm-12 col-md-10">
        {{ informationUser.name + " " + informationUser.lastname | uppercase }}
      </h2>
      <span class="container-title-btn col-sm-12 col-md-2"> </span>
    </div>
    <div>
      <p>
        Correo electronico: <b>{{ informationUser.email }}</b>
      </p>
    </div>
  </section>
  <!-- Listas-->

  <ng-container *ngIf="allLists$ | async as allList; else loadingList">
    <div class="row mb-4 container container-title">
      <h3 class="title col-sm-12 col-md-10">Últimos catalogos creados</h3>
      <span class="container-title-btn col-sm-12 col-md-2">
        <a routerLink="/profile/mis-catalogos" class="btn btn-outline-warning"
          >Explorar</a
        >
      </span>
    </div>

    <div class="card-deck mb-4">
      <div
        class="card bg-dark"
        *ngFor="let item of allList.lists.data"
        style="width: 18rem"
      >
        <img
          src="{{ item.avatar | imageApiRest }}"
          class="card-img-top"
          alt="{{ item.avatar | imageApiRest }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">
            {{ item.description }}
          </p>
          <p class="card-text">
            <small class="text-muted">{{ item.created_at | date: dmy }}</small>
          </p>
        </div>
        <div class="card-footer">
          <a
            [routerLink]="['catalogo/detalles', item.id]"
            class="btn btn-outline-primary"
            >Ver más</a
          >
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingList>
    <app-loading></app-loading>
  </ng-template>
  <!-- End Listas-->
  <!-- Favoritos-->

  <ng-container
    *ngIf="allFavorites$ | async as allFavorites; else loadingFavorites"
  >
    <div class="row mb-4 mt-4 container container-title">
      <h3 class="title col-sm-12 col-md-10">Últimos agregados a favoritos</h3>
      <span class="container-title-btn col-sm-12 col-md-2">
        <a routerLink="/profile/favoritos" class="btn btn-outline-warning"
          >Explorar</a
        >
      </span>
    </div>

    <div class="card-deck">
      <div
        class="card bg-dark"
        *ngFor="let item of allFavorites.data.data"
        style="width: 18rem"
      >
        <img
          src="{{ item.avatar | image }}"
          class="card-img-top"
          alt="{{ item.avatar | image }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">
            {{ item.description }}
          </p>
          <p class="card-text">
            <small class="text-muted">{{ item.created_at | date: dmy }}</small>
          </p>
        </div>
        <div class="card-footer">
          <a
            (click)="seeDetailsMovie(item.item)"
            class="btn btn-outline-primary"
            >Ver más</a
          >
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingFavorites>
    <app-loading></app-loading>
  </ng-template>
  <!-- End Favoritos-->
</div>
