<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/peliculas/populares/1"> + Populares</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/peliculas/top/1"> + Votadas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/peliculas/generos"> + Listado Generos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/peliculas/clasificaciones"> + Clasificaciones</a>
      </li>
    </ul>
  </div>
</nav>

<div class="row mt-4">

  <div class="container-side-left col-sm-12 col-md-9">

    <app-grid-card title="Películas más votadas" 
                   url="/peliculas/top/1"
                   [itemArray]="moviesTop"
                   (item)="detailsMovie($event)"
                   [showPagination]="false">
    </app-grid-card>
    <hr>

    <app-grid-card title="Las más populares" 
                   url="/peliculas/popular/1"
                   [itemArray]="moviesPopular"
                   (item)="detailsMovie($event)"
                   [showPagination]="false">
    </app-grid-card>
  </div>

  <div class="container-side-right col-sm-12 col-md-3">
    <app-side-bar></app-side-bar>
  </div>
</div>