<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card bg-dark">
        <div class="card-header text-center">
          Hola, Bienvenido a MegaPelis
        </div>

        <div class="card-body">
          <h6>¿Qué es Mega-Pelis?</h6>
          <p>Mega-Pelis es un sitio web que te permite obtener fácilmente información de tus películas y series
            favoritas.</p>

          <hr>

          <h6> Características que te brindamos: </h6>
          <li> Marcar tus series / películas favoritas </li>
          <li> Crear listas personalizadas. </li>
          <li> Descubrir series / películas populares, en cines, por géneros y mejoras calificadas. </li>
          <li> Buscar series / películas. </li>
          <li> Obtener información detallada de una serie / película. </li>

          <br>

          <hr>

          <h6>¿Mega-Pelis tiene algún costo de suscripción? </h6>
          <p> No, es totalmente gratis, no hay de planes de suscripción ni nada por el estilo. Si por algún motivo
            llegara a suceder se le notificara. Pero por el momento es gratis. </p>
          <hr>

          <h6> ¿Cómo funciona Mega-Pelis?</h6>
          <p>
            Mega-Pelis utiliza la API TMDb para todos los datos de las películas y series incluyendo las imágenes de que
            se muestran.
          </p>
          <p>
            Mega-Pelis es multiplataforma usted puede acceder desde su ordenador, tableta o desde su móvil.
          </p>
          <hr>
          <h6>Ponerte en contacto</h6>
          <p>Para ponerte en contacto con nosotros puedes usar nuestro formulario o traves de nuestras redes sociales. 
          </p>
          <p>Puedes enviar tus sugerencias, ideas o algo para que mejore este sitio web.</p>
          <a href="/info/contacto">Ir al contacto</a>
          <hr>

          <b>Nota Importante:</b>
          <p>
            Este producto utiliza la API TMDb pero no está avalado ni certificado por TMDb.
            Términos y condiciones
          </p>
          <a target="_blank" href="https://www.themoviedb.org/documentation/api/terms-of-use
          ">Ir a Términos y Condiciones</a>

        </div>
      </div>
    </div>
  </div>
</div>