<nav class="navbar navbar-expand-lg navbar-dark bg-secondary mb-2"
    style="background-color: #e91e63 !important"
>
  <a class="navbar-brand" routerLink="/inicio">Mis Películas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/peliculas" routerLinkActive="active">Películas</a>
      </li>
      
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLinkActive="active" >
          Películas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/peliculas">Peliculas</a>
          <a class="dropdown-item" routerLink="/peliculas/popular/1">Las más populares</a>
          <a class="dropdown-item" routerLink="/peliculas/top/1">Las más votadas</a>
          <a class="dropdown-item" routerLink="/peliculas/generos">Generos</a>
          <a class="dropdown-item" routerLink="/peliculas/clasificaciones">Clasificaciones</a>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/series" routerLinkActive="active">Series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/buscar"  routerLinkActive="active">Explorar</a>
      </li>
    </ul>
  </div>
</nav>

