<ng-template #loading>
  <app-loading class="offset-lg-4"></app-loading>

</ng-template>

<ng-container *ngIf="movies$ | async as movies; else loading">
  
  <app-grid-card title="Películas más Top" 
                  url="/peliculas/top/1"
                  [itemArray]="movies.results"
                  (item)="detailsMovie($event)"
                  class="mx-auto"
                  [showBtnExplore]="false"
                  [total_results]="movies.total_results"
                  (number_page)="nextPage($event)"
                  [page]="id">
  </app-grid-card>
  
</ng-container>
