<div class="row mb-4 container-header container-title">
  <h3 class="title col-sm-12 col-md-10">Películas Favoritas</h3>
</div>
<ng-container
  *ngIf="allFavorites$ | async as allFavorites; else loadingFavorites"
>
  <grid-favorites
    [showHeaderAndButton]="false"
    [favorites]="allFavorites.data.data"
    [total_results]="allFavorites.data.total"
    [itemPerPage]="allFavorites.data.per_page"
    [page]="id"
    (number_page)="nextPage($event)"
  ></grid-favorites>
</ng-container>
<ng-template #loadingFavorites>
  <app-loading></app-loading>
</ng-template>
<!-- End Favoritos-->
