<div class="row mt-4">
    <div class="container-side-left col-sm-12 col-md-9">
      
      <div class="row mb-4">
  
        <app-loading class="offset-lg-4" 
                    *ngIf="showLoadingCardMoviesPopular; 
                    else showGridCardMoviesPopular">
        </app-loading>
  
        <ng-template #showGridCardMoviesPopular>
          
          <app-grid-card title="Películas más Populares" 
                         url="/peliculas/popular/1"
                         [itemArray]="movies"
                         (item)="detailsMovie($event)"
                         class="mx-auto"
                         [showBtnExplore]="false"
                         [total_results]="total_results"
                         (number_page)="nextPage($event)"
                         [page]="id">
          </app-grid-card>
          
        </ng-template>
      </div>
    </div>
    <div class="container-side-left col-sm-12 col-md-3">
      <app-side-bar></app-side-bar>
    </div>
  </div>