<ng-template #loading>

  <app-loading class="offset-lg-4">
  </app-loading>
</ng-template>

<ng-container *ngIf="movies$ | async as movies">
  
  <app-grid-card title="Películas más Populares" 
                  url="/peliculas/popular/1"
                  [itemArray]="movies.results"
                  (item)="detailsMovie($event)"
                  class="mx-auto"
                  [showBtnExplore]="false"
                  [total_results]="movies.total_results"
                  (number_page)="nextPage($event)"
                  [page]="id">
  </app-grid-card>
  
</ng-container>
